
body {
  background-color: black;
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  color: white;
}

.container {
  width: 700px;
  margin: auto;
  padding: 20px 0px;
}

h1 {
  background: -webkit-linear-gradient(white, #b69859);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 5em;
}


select {
  width: 300px;
  height: 40px;
  overflow: hidden;
  background: url(new_arrow.png) no-repeat right #ddd;
  border: 1px solid #ccc;
  border-radius: 10px;
}

option {
  font-family: 'Rubik', sans-serif;
  font-size: 15px;
}

h2 {
  color: #b69859;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3em;
}

.description {
  font-size: 15px;
}

h3 {
  color: #b69859;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2em;
}

.winner {
  color: #b69859;
}

h4 {
 display: inline;
 white-space: pre;
}

span {
  margin-left: 20px;
  font-style: italic;
  font-weight: bold;
}

hr {
  margin-top: 30px;
}
