*{
  box-sizing: border-box;
}


.projectCardContainer{
  overflow-x: auto;
  overflow-y: hidden;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.grad{
  background-color: #22B4E2;
  background-image: -moz-linear-gradient(to right, hsl(171, 100%, 41%) 0%, #00416A 100%);
}

.projectDescriptionLayer{
  margin-top: 500px;
  margin-bottom: 500px;
}

.projectCard{
  overflow-y: scroll;
  height: 300px;
}

.notAction{
  color: hsl(0, 0%, 71%);
}

.userAction{
  color: hsl(217, 71%, 53%);
}

.projectBoardInfo{
  border-radius: 15px;
  background-color: hsl(0, 0%, 1%, 30%);
}

.taskCardInfo{
    border-radius: 15px;
    background-color: hsl(0, 0%, 1%, 30%);
}

.is-full{
  padding-bottom: 2.07%;
}

.is-fullpage{
  height: 100vh;
}
